<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="fortuneService"
          class="br.pessoal.springdemo.HappyFortune">
    </bean>

    <bean id="myCoach"
            class="br.pessoal.springdemo.TrackCoach">
        <!--injeção do construtor aqui-->
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="football"
          class="br.pessoal.springdemo.FootballCoach">
        <!--injeção do construtor aqui-->
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="baseball"
        class="br.pessoal.springdemo.BaseballCoach">
        <!--njeção do construtor aqui-->
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="cricketCoach"
        class="br.pessoal.springdemo.CricketCoach">
        <!--Injeção usando o setter-->
        <property name="fortune" ref="fortuneService" />
        <property name="emailAddress" value="coaches@firelink.com"/>
        <property name="team" value="undead" />
    </bean>
</beans>





